#columnas {
    column-count:4;
    column-gap:10px;
    column-rule:2px dotted blue;
    -webkit-column-count:4;
    -webkit-column-gap:10px;
    -webkit-column-rule:2px dotted blue;
    -moz-column-count:4;
    -moz-column-gap:10px;
    -moz-column-rule:2px dotted blue;
}
.bordeado {
    border:3px solid blue;
    border-radius:2px 5px;
}
.sombreado {
    box-shadow:5px 20px green;
}
.degradado {
    background: #f85032; /* Old browsers */
background: -moz-linear-gradient(-45deg, #f85032 0%, #f6290c 30%, #f6290c 30%, #f16f5c 50%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f85032), color-stop(30%,#f6290c), color-stop(30%,#f6290c), color-stop(50%,#f16f5c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #f85032 0%,#f6290c 30%,#f6290c 30%,#f16f5c 50%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #f85032 0%,#f6290c 30%,#f6290c 30%,#f16f5c 50%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #f85032 0%,#f6290c 30%,#f6290c 30%,#f16f5c 50%,#f02f17 71%,#e73827 100%); /* IE10+ */
background: linear-gradient(135deg, #f85032 0%,#f6290c 30%,#f6290c 30%,#f16f5c 50%,#f02f17 71%,#e73827 100%); /* W3C */
}

#imagen {
    transition:transform 5s;
    -webkit-transition:transform 5s;
}

#imagen:hover {
    transform:rotate(30deg) scale(3) skew(30deg) translateX(100px);
    
    /*transform:scale(1.5);*/
}

#muevete {
    position:absolute;
    left:10px;
    top:500px;
    width:100px;
    height:100px;
    background-color:red;
    z-index:1000;
    animation: mover 10s;
    -webkit-animation: mover 10s;
    -webkit-animation-iteration-count:infinite;
}

@keyframes mover {
    0% {left:10px;
    }
    25% {left:500px;
    }
    50% {left:250px;
    }
    75% {left:100px;
    }
    100% {left:10px;
    }
   /* from {left:10px;}
    to {left:800px;}*/
}
@-webkit-keyframes mover {
    /*from {left:10px;}
    to {left:800px;}*/
     0% {left:10px;
    }
    25% {left:500px;
         background-color:blue;
    }
    35% {
        top:700px;
    }
    50% {left:250px;
         background-color:pink;
    }
    75% {left:100px;
         background-color:orange;
    }
    100% {left:10px;
          background-color:red;
    }
}

@media screen and (max-width:1024px) {
#columnas {
    column-count:2;
    column-gap:5px;
    column-rule:1px dotted blue;
    -webkit-column-count:2;
    -webkit-column-gap:5px;
    -webkit-column-rule:1px dotted blue;
    -moz-column-count:2;
    -moz-column-gap:5px;
    -moz-column-rule:1px dotted blue;
}

}